!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
$RECYCLE.BIN/
*$py.class
*.bak
*.cab
*.cover
*.dll
*.dylib
*.egg
*.egg-info/
*.exe
*.exe~
*.gho
*.lnk
*.log
*.manifest
*.mo
*.msi
*.msix
*.msm
*.msp
*.ori
*.orig
*.out
*.pot
*.ppk
*.py[cod]
*.sage.py
*.so
*.spec
*.stackdump
*.test
*.tmp
*~
.Python
.Trash-*
.cache
.coverage
.coverage.*
.directory
.dmypy.json
.eggs/
.env
.fuse_hidden*
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.netrwhist
.nfs*
.nox/
.pyre/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/*
.webassets-cache
/aclocal.m4
/ar-lib
/autoscan-*.log
/autoscan.log
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/ltmain.sh
/mdate-sh
/missing
/py-compile
/site
/stamp-h1
/test-driver
/texinfo.tex
/ylwrap
ENV/
MANIFEST
Makefile.in
Session.vim
Sessionx.vim
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
__pycache__/
autom4te.cache
build/
celerybeat-schedule
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
tags
target/
var/
venv.bak/
venv/
wheels/
